<?xml version="1.0"?>
<!--
  Universal robot ur5 launch.  Loads ur5 robot description (see ur_common.launch
  for more info)

  Usage:
    ur5_bringup_camera_gripper_rviz.launch robot_ip:=<value>
-->
<launch>
  
	<include file="$(find manipulation_bringup)/launch/ur5_bringup_gripper_with_rviz.launch"/>

	<include file="$(find manipulation_bringup)/launch/camera/april_rgbd.launch.xml"/>

	<!-- rosparam set /cube_description -t cube.urdf -->
	<rosparam param="/cube_description" command="load" file="$(find ur_gripper_description)/urdf/objects/cube.urdf" />

	<!-- rosrun ur5_gripper_moveit_config transform_publisher.py -->
	<node name="transform_publisher" pkg="ur5_gripper_moveit_config" type="transform_publisher.py" respawn="true" />  
	
	<node name="pcl_object" pkg="ur5_gripper_moveit_config" type="pcl.py" respawn="false" />  
	
	<!-- <node name="objec_plane_detector" pkg="ur5_gripper_moveit_config" type="planes.py" respawn="true" />   -->


</launch>
