<launch>
<node pkg="apriltags_ros" type="apriltag_detector_node" name="apriltag_detector" output="screen"
args="camera_info:=/ps3eye/camera_info image_rect:=/ps3eye/image_raw">

<rosparam param="tag_descriptions">
[
{id: 0, size: 0.0736},
{id: 1, size: 0.0736},
{id: 2, size: 0.0736},
{id: 3, size: 0.0736},
{id: 4, size: 0.0736},
{id: 5, size: 0.0736, frame_name: world},
{id: 6, size: 0.0736},
{id: 7, size: 0.0736},
{id: 8, size: 0.0736},
{id: 9, size: 0.0736},
{id: 10, size: 0.0736},
{id: 11, size: 0.0736},
{id: 12, size: 0.0736},
{id: 13, size: 0.0736},
{id: 14, size: 0.0736},
{id: 15, size: 0.0736},
{id: 16, size: 0.0736}]

<param name="/image_rect" value="/ps3eye/image_raw"/>

</rosparam>
</node>
</launch>
